header{ 
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    background-color: #2c3e50;
}

:root{
    --background-color: #1abc9c;
}

ul li{
    list-style-type: none; 
}

header nav ul{
    gap: 10px;
    display: flex;
}

.display-small{
    display: none;
    fill: white;
}

.text-center .bg img{
    width: 300px;
    border-radius: 10px;
}

/*start bootstrap*/
.bootstrap{
    background-color: var(--background-color);
    text-transform: uppercase;
}

/*stella*/
.bootstrap .stella .barra,
.text-center .stella .barra{
    width: 100px;
    height: 3px;
}

.bootstrap .stella,
.text-center .stella{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*about*/
.container-about{
    background-color: var(--background-color);
}

.container-about h1{
    text-transform: uppercase;
}

.contaier-testo{
    width: 65%;
    margin: 0 auto;
}

button{
    background-color: #1abc9c;
    border-radius: 10px;
    border: 1px solid white;
}

/*contact me*/
.container-contact{
    width: 60%;
    margin: 0 auto;
    text-transform: capitalize;
}

#areatesto{
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #c7c8c9;
}

