:root{
    --background-color: #1abc9c;
}

.testa{
    background-color: #2c3e50;
}


.navbar-toggler-icon{
    filter: invert(100%);
}


/*start bootstrap*/
.container-color{
    background-color: var(--background-color);
}

/*stella*/
.text-center .stella{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.stella .barra{
    width: 100px;
    height: 3px;
}

/*portfolio*/
.text-center img{
    width: 300px;
    border-radius: 5px;
}

/*about*/
.contaier-testo{
    width: 65%;
    margin: 0 auto;
}

button{
    background-color: #1abc9c;
}

/*contact me*/
.container-contact{
    width: 60%;
    margin: 0 auto;
}

#text{
    width: 100%;
    border-color: #c7c8c9;
}

/*footer*/
.container-footer{
    width: 60%;
    margin: 0 auto;
}

footer{
    background-color: #3a546d;
}

.app{
    gap: 30px;
}

.evidenziato span{
    color: #1db599;
}

.copyright{
    background-color: #2c3e50;
}